.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card-conteudo img {
  padding-bottom: 16px;
}

.card-conteudo span {
  display: block;
  font: 400 16px "Roboto";
  padding-bottom: 16px;
}

.card-conteudo h2 {
  display: block;
  font: 700 24px/1.5 "Poppins";
  color: var(--purple-bg);
  padding-bottom: 16px;
}

.card-conteudo p {
  display: block;
  font: 400 16px/1.5 "Roboto";
  padding-bottom: 60px;
}
